body{
    overflow-x: hidden;
}
.main-content{
    width: 50%;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
}
.header{
    border: 0px solid #000;
    margin-bottom: 5px;
}
.well{
    background-color: #187FAB;
}
#signup{
    width: 60%;
    border-radius: 30px;
}